<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.test.module_2" >
    <application>
        <activity android:name=".Module_2_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
    </application>
</manifest>
